<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: @book.user %>
    <h2>New book</h2>
    <%= render 'form', book: Book.new %>
  </div>
  

  <div class='col-xs-9'>
		<h2>Book detail</h2>
    <div class="detail__table">
      <%= render 'detail', book: @book %>
    </div>

    <div class="comment_form">
      <%= render "book_comments/form",book:@book,comment:@comment_new%>
    </div>
    <div class="comment__table">
      <%= render 'book_comments/table', book_comments: @book.book_comments%>
    </div>
  </div>
</div>